body { background-color: #FFE4C4;
     font-family: Arial, sans-serif;
     font-size: 16px;
}

header {
 background-color: #FFF8DC;
 padding: 20px;
}

a {
 text-decoration: none;
 color: #FF4500;
}

ul {
 padding: 0;
 margin: 0;
 list-style: none;
}

nav {
 display:  flex;
 float: right; 
}

nav ul {
 display: flex;
}

nav li {
  margin-right: 25px;
}

main li {
 font-size: 18px;
}

h1 {
    font-size: 40px;
    color: #8B0000;
 text-align: center;
}
h2 {
 font-size: 30px;
}





footer {
background-color: #800000;
 color: #fff;
 padding: 5px;
 font-size: 18 px;
 text-align: center;
}











